<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agri Friend</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('leaf_detection') }}">Disease Detection</a>
        <a href="{{ url_for('crop_recommendation') }}">Crop Recommendation</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>

    <div class="button-container">
        <div class="button-wrapper">
            <p class="button-text left-text">Want to know the crop recommendation for your farm? <br> <b>Click here!</b></p>
            <a href="{{ url_for('crop_recommendation') }}" class="custom-button left-button">
                Crop Recommendation
            </a>
            
        </div>
        <div class="button-wrapper">
            <p class="button-text right-text">Identify the leaf disease here! </p>
            <a href="{{ url_for('leaf_detection') }}" class="custom-button right-button">
                Leaf Disease Detection
            </a>
            
        </div>
        <!--
        <div class="button-wrapper">
            <p class="button-text right-text">Identify the leaf disease here!</p>
            <button class="custom-button right-button" onclick="location.href='#disease-detection'">
                Leaf Disease Detection
            </button>
        </div>-->
    </div>
</body>
</html>
